<div class="px-5 sm:px-20 py-10 animate__animated animate__fadeInLeft animate__faster">
  <div class="bg-white shadow-lg overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 border-b border-gray-200">
      <h3 class="text-3xl font-bold text-indigo-700 leading-6 font-medium text-gray-900">
        Términos  y condiciones
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-8 text-gray-500">
        Debes aceptar los términos y condiciones para poder usar esta aplicación
      </p>
    </div>
    <div>
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Información perosnal
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            La información de tu usuario será siempre la que proporcione el servicio de autenticación de Google.
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Propiedad intelectual
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            En caso de violar la propiedad intelectual de los archivos o imágenes cargados/as, el usuario es el responsable de las consecuencias que este ocasione.
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Archivos sensibles
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            FileChap no se hace responsable por los archivos perdidos o borrados por el usuario.
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Vulnerar términos y condiciones
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2 mb-5">
            Filechap en cualquier momento y sin aviso previo alguno, puede dar por finalizada tu cuenta, esto ocasionaría que tus archivos e imágenes sean eliminados de la plataforma.
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="flex justify-between w-auto mt-5">

    <div class="md:flex mb-6">
      <label class="block text-gray-500 font-bold">
        <input class="mr-2 leading-tight" type="checkbox" name="terms" [(ngModel)]="terms">
        <span class="text-sm">
          Acepto términos y condiciones
        </span>
      </label>
    </div>

    <div class="sm:flex sm:items-right">
      <div class="sm:w-2/3">
        <button (click)="aceptarTerminos()"
          class="shadow bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white py-2 px-4 rounded"
          type="button">
          Guardar
        </button>
      </div>
    </div>
  </div>

</div>
