<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->

    <div class="swiper-slide" *ngFor="let imagen of imagenes">
        <div class="rounded-lg shadow-md">

          <a data-fancybox="gallery" [href]="imagen.url" title="Ver">
            <div class="block h-full w-full" style="height: 200px;">
              <img class="object-cover h-48 w-full" [src]="imagen.url" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
            </div>
          </a>

          <header class="flex items-center justify-between leading-tight p-2 name">
            <p class="block font-semibold text-gray-600 text-sm mx-1 my-1  animate__animated animate__fadeInDown"> {{imagen.nombre.length < 20 ? imagen.nombre : imagen.nombre | slice:0:20 }}{{imagen.nombre.length > 20 ? '...' :'' }}</p>
          </header>
        </div>
    </div>
  </div>
</div>
